{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        {% include 'dashboard/components/side-nav.html' %}
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->

            {% include 'dashboard/components/top-nav.html' %}

            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <h2>{% if form.instance.pk %}Update{% else %}Create{% endif %} Site</h2>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                    <a href="{% url 'site_list' %}">Back to List</a>
                </div>
                <!-- / Content -->

                <!-- Footer -->
                {% include 'dashboard/components/footer.html' %}
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
{% endblock %}
{% block script %}
{% endblock %}