<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="" class="app-brand-link">
              <span class="app-brand-logo demo">
                <img src="{{ site.logo.url }}" height="40" width="120" alt="logo">
              </span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item {% if title == 'Dashboard' %}active{% endif %}">
            <a href="{% url 'dashboard' %}" class="menu-link">
                <i class='menu-icon tf-icons bx bxl-product-hunt'></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>
    </ul>
</aside>