/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!./node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/templates/assets/js/components/SignUp.vue?vue&type=style&index=0&id=7fe07050&scoped=true&lang=css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.login-bg-img[data-v-7fe07050] {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-bg-img img[data-v-7fe07050] {
  width: 100%;
  height: 100%;
}
.login[data-v-7fe07050] {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  transform: translate(0%, 0%);
  background: white;
  border-radius: 10px;
  padding: 40px;
}
form[data-v-7fe07050] {
  width: 100%;
}
.login-title[data-v-7fe07050] {
  color: #1E1E1E;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  /* 133.333% */
  letter-spacing: 1.8px;
  text-transform: capitalize;
  margin-bottom: 48px;
}
.login-title span[data-v-7fe07050] {
  color: #f94f00;
}
.login-address[data-v-7fe07050] {
  display: flex;
  align-items: center;
  gap: 36px;
  padding: 10px 36px;
  border: 1px solid rgba(19, 33, 68, 0.10);
  background: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(204, 204, 204, 0.20);
  margin-bottom: 36px;
}
.login-pass[data-v-7fe07050] {
  display: flex;
  align-items: center;
  gap: 36px;
  padding: 10px 36px;
  border: 1px solid rgba(19, 33, 68, 0.10);
  background: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(204, 204, 204, 0.20);
  margin-bottom: 36px;
}
.login-address input[data-v-7fe07050],
.login-pass input[data-v-7fe07050] {
  border: none;
  outline: none;
  color: #4A4A4A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  /* 100% */
  letter-spacing: 0.42px;
  background: transparent;
  padding: 10px 0;
  width: 100%;
}
.remember-forget[data-v-7fe07050] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.remember[data-v-7fe07050] {
  color: #4A4A4A;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  padding-left: 10px;
  letter-spacing: 0.3px;
  margin: 0;
  display: block;
  position: relative;
  cursor: pointer;
}
.remember-forget h2[data-v-7fe07050] {
  color: #4A4A4A;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  /* 100% */
  margin: 0;
}
.login-btn[data-v-7fe07050] {
  width: 100%;
  border: 1px solid rgba(19, 33, 68, 0.10);
  background: #f94f00;
  box-shadow: 0px 0px 12px 0px rgba(204, 204, 204, 0.20);
  padding: 14px;
  margin-bottom: 40px;
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  /* 100% */
  letter-spacing: 0.54px;
}
.any-account[data-v-7fe07050] {
  margin-bottom: 60px;
}
.any-account h1[data-v-7fe07050] {
  color: #494949;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  /* 100% */
  margin-bottom: 0;
}
.any-account h1 span[data-v-7fe07050] {
  color: #FF6B00;
}
body[data-v-7fe07050] {
  margin: 0 !important;
  box-sizing: border-box;
  padding: 0;
}
.user_garage[data-v-7fe07050] {
  gap: 48px;
  margin-bottom: 48px;
}
.user[data-v-7fe07050] {
  width: 186px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #E7EAF3;
  padding: 10px 20px;
}
.user_text h2[data-v-7fe07050] {
  color: #1E1E1E;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 100% */
  font-variant: all-small-caps;
  letter-spacing: 0.1px;
  margin-bottom: 0;
}
.garage_text[data-v-7fe07050] {
  margin-left: 10px;
  margin-top: 6px;
}
.btn-one.active[data-v-7fe07050],
.btn-two.active[data-v-7fe07050] {
  background: #f94f00;
}
.btn-one.active .user > svg path[data-v-7fe07050] {
  fill: white;
}
.btn-one.active .user-color[data-v-7fe07050],
.btn-two.active .user-color[data-v-7fe07050] {
  color: white;
}
.login-address[data-v-7fe07050]:focus-within,
.login-pass[data-v-7fe07050]:focus-within {
  border-left: 2px solid red;
}
.login-bg[data-v-7fe07050] {
  position: relative;
}
.bg-img[data-v-7fe07050] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.bg-img.active[data-v-7fe07050] {
  opacity: 1;
}
.remember input[type=checkbox][data-v-7fe07050] {
  visibility: hidden;
}
.checkbox-container[data-v-7fe07050] {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 3px;
}
.remember input:checked ~ .checkbox-container[data-v-7fe07050] {
  background-color: #f94f00;
}
.checkbox-container[data-v-7fe07050]::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 0px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.remember input:checked ~ .checkbox-container[data-v-7fe07050]::after {
  display: block;
}
.col-5[data-v-7fe07050] {
  flex: 0 0 auto;
  width: 48%;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!./node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/templates/assets/js/components/UserLogin.vue?vue&type=style&index=0&id=500d2cee&scoped=true&lang=css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.login-bg[data-v-500d2cee] {
  height: 100vh;
}
.login-bg-img[data-v-500d2cee] {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-bg-img img[data-v-500d2cee] {
  width: 100%;
  height: 100%;
}
.login[data-v-500d2cee] {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  transform: translate(0%, 0%);
  background: white;
  border-radius: 10px;
  padding: 40px;
}
form[data-v-500d2cee] {
  width: 100%;
}
.login-title[data-v-500d2cee] {
  color: #1E1E1E;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  /* 133.333% */
  letter-spacing: 1.8px;
  text-transform: capitalize;
  margin-bottom: 48px;
}
.login-title span[data-v-500d2cee] {
  color: #f94f00;
}
.login-address[data-v-500d2cee] {
  display: flex;
  align-items: center;
  gap: 36px;
  padding: 10px 36px;
  border: 1px solid rgba(19, 33, 68, 0.10);
  background: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(204, 204, 204, 0.20);
  margin-bottom: 36px;
}
.login-pass[data-v-500d2cee] {
  display: flex;
  align-items: center;
  gap: 36px;
  padding: 10px 36px;
  border: 1px solid rgba(19, 33, 68, 0.10);
  background: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(204, 204, 204, 0.20);
  margin-bottom: 36px;
}
.login-address input[data-v-500d2cee] {
  border: none;
  outline: none;
  color: #4A4A4A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  /* 100% */
  letter-spacing: 0.42px;
  background: transparent;
  padding: 10px 0;
  width: 100%;
}
.login-pass input[data-v-500d2cee] {
  border: none;
  outline: none;
  color: #4A4A4A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  /* 100% */
  letter-spacing: 0.42px;
  background: transparent;
  padding: 10px 0;
  width: 100%;
}
.remember-forget[data-v-500d2cee] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.remember[data-v-500d2cee] {
  color: #4A4A4A;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  padding-left: 10px;
  letter-spacing: 0.3px;
  margin: 0;
  display: block;
  position: relative;
  cursor: pointer;
}
.remember-forget h2[data-v-500d2cee] {
  color: #4A4A4A;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  /* 100% */
  margin: 0;
}
.login-btn[data-v-500d2cee] {
  width: 100%;
  border: 1px solid rgba(19, 33, 68, 0.10);
  background: #f94f00;
  box-shadow: 0px 0px 12px 0px rgba(204, 204, 204, 0.20);
  padding: 14px;
  margin-bottom: 40px;
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  /* 100% */
  letter-spacing: 0.54px;
}
.any-account[data-v-500d2cee] {
  margin-bottom: 60px;
}
.any-account h1[data-v-500d2cee] {
  color: #494949;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  /* 100% */
  margin-bottom: 0;
}
.any-account h1 span[data-v-500d2cee] {
  color: #FF6B00;
}
body[data-v-500d2cee] {
  margin: 0 !important;
  box-sizing: border-box;
  padding: 0;
}
.user_garage[data-v-500d2cee] {
  gap: 48px;
  margin-bottom: 48px;
}
.user[data-v-500d2cee] {
  width: 186px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #E7EAF3;
  padding: 10px 20px;
}
.user_text h2[data-v-500d2cee] {
  color: #1E1E1E;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 100% */
  font-variant: all-small-caps;
  letter-spacing: 0.1px;
  margin-bottom: 0;
}
.garage_text[data-v-500d2cee] {
  margin-left: 10px;
  margin-top: 6px;
}
.btn-one.active[data-v-500d2cee],
.btn-two.active[data-v-500d2cee] {
  background: #f94f00;
}
.btn-one.active .user > svg path[data-v-500d2cee] {
  fill: white;
}
.btn-one.active .user-color[data-v-500d2cee],
.btn-two.active .user-color[data-v-500d2cee] {
  color: white;
}
.login-address[data-v-500d2cee]:focus-within,
.login-pass[data-v-500d2cee]:focus-within {
  border-left: 2px solid red;
}
.login-bg[data-v-500d2cee] {
  height: 100vh;
  position: relative;
}
.bg-img[data-v-500d2cee] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.bg-img.active[data-v-500d2cee] {
  opacity: 1;
}
.remember input[type=checkbox][data-v-500d2cee] {
  visibility: hidden;
}
.checkbox-container[data-v-500d2cee] {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 3px;
}
.remember input:checked ~ .checkbox-container[data-v-500d2cee] {
  background-color: #f94f00;
}

/* Checkmark */
.checkbox-container[data-v-500d2cee]::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 0px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.remember input:checked ~ .checkbox-container[data-v-500d2cee]::after {
  display: block;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!./node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/templates/assets/js/components/HeroArea.vue?vue&type=style&index=0&id=0f3c30c7&scoped=true&lang=css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

a[data-v-0f3c30c7] {
  text-decoration: none;
}
.swiper-pagination[data-v-0f3c30c7] {
  margin-top: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.swiper-pagination-bullet-active[data-v-0f3c30c7] {
  opacity: 1 !important;
  background: none;
  color: #ffffff !important;
}
.swiper-pagination-bullet[data-v-0f3c30c7] {
  width: auto;
  height: auto;
  background: none;
  opacity: 0.3;
  color: white;
}
.swiper-horizontal > .swiper-pagination-bullets[data-v-0f3c30c7],
.swiper-pagination-bullets.swiper-pagination-horizontal[data-v-0f3c30c7],
.swiper-pagination-custom[data-v-0f3c30c7],
.swiper-pagination-fraction[data-v-0f3c30c7] {
  top: -40rem;
  left: -2rem;
  width: 100%;
  align-items: end;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet[data-v-0f3c30c7],
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet[data-v-0f3c30c7] {
  font-size: 25px;
  font-weight: 700;
}
.swiper[data-v-0f3c30c7] {
  height: 100vh;
  position: relative;
}
.swiper-wrapper[data-v-0f3c30c7] {
  height: 100%;
  width: 100%;
  position: relative;
}
.swiper-button-next[data-v-0f3c30c7],
.swiper-rtl .swiper-button-prev[data-v-0f3c30c7] {
  right: 50px;
  left: auto;
  top: 90%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.25);
  transition: 0.7s;
}
.swiper-button-prev[data-v-0f3c30c7]:hover {
  transform: scale(1.1);
}
.swiper-button-next[data-v-0f3c30c7]:hover {
  transform: scale(1.1);
}
.swiper-button-prev[data-v-0f3c30c7],
.swiper-rtl .swiper-button-next[data-v-0f3c30c7] {
  left: auto;
  right: 125px;
  top: 90%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.25);
  transition: 0.6s;
}
.main-content[data-v-0f3c30c7] {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  left: -130px;
  transform: rotate(-90deg);
}
.content[data-v-0f3c30c7] {
  gap: 160px;
}
.content h1[data-v-0f3c30c7] {
  color: #fff;
  font-size: 20px;
}
.content h1[data-v-0f3c30c7]::before {
  content: '';
  top: 13px;
  left: 129px;
  width: 125px;
  height: 1px;
  background: white;
  position: absolute;
}
.content-item a[data-v-0f3c30c7] {
  text-decoration: none;
}
.content-item path[data-v-0f3c30c7] {
  transition: 0.5s;
}
.content-item a:hover path[data-v-0f3c30c7] {
  fill: #FF532D !important;
}
.swiper-button-prev[data-v-0f3c30c7]::after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -1px;
  right: -9px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAApCAYAAADJeCK0AAAAAXNSR0IArs4c6QAAAO9JREFUWEftlbsNwkAQBeeJmBJoBMQnIEEiQEKCnEqgAAJEREaAaIIeSEgI6GXBlo1sI4j2bIJzAW/uze2eRQOfGmASoUGtR71Rr4uBOEguGr+F/J9eM9sCHUkLz+pfm5rZHlgCXUmPoFAzSw5yAOZAT9LdE5hklZpmwCMwBUaSbt7AEjQDnoEJ0A8FfEPNrAWcsoZDSdcQDfPMVK+ZjV/3d3ECbSStf2Xl0PqbZm2TA9R3p7mKyvQGWZePlSk0TvZ0BgyC72nx8mt9kSrgHdCWtHKa7DTm//4ynu2KWbFpKLNxkIKajXqjXj8DjTyDTybVPyoSH3VAAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
}
.swiper-button-next[data-v-0f3c30c7]::after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -1px;
  right: -9px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAApCAYAAADJeCK0AAAAAXNSR0IArs4c6QAAAP5JREFUWEftlDFqQkEQhr8/hYikEkK8RzqLGOztcwm73MAreJWQIuIBcosUKQQh4AV+fbKCjb51V99D2K1n9tv5ZmZFC0ctMCnQm1oveoveqxgog3QVjacuuR+9tt+BD2AsaXOplqRKbXeAL6AfwP+XgJOgFcB2F/gEnoE3SetYcDL0CPwNPAEjSasYcBY0gHvAMoCHMeBsaAA/AosAfpX0d67iPdT2C/ADPMToqYmZS5rWQnNBtg+VDkJvf28KtX3c01q11WOyehrWprnpbXxPW/mRbE+A2W4/qx428/fmTnvWIKXCCzTVXFRe0RulKTWo6E01F5VX9EZpSg3aAskdQSrk62CzAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
}
.hero-content[data-v-0f3c30c7] {
  width: 450px;
  position: absolute;
  top: 350px;
  left: 12%;
  z-index: 2;
}
.hero-content h1[data-v-0f3c30c7] {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}
.hero-content p[data-v-0f3c30c7] {
  color: rgb(229, 226, 226);
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 50px;
}
.hero-content a[data-v-0f3c30c7] {
  color: white;
  padding: 15px 80px;
  font-size: 20px;
  background: #FF532D;
}
.email[data-v-0f3c30c7] {
  top: 150px;
  left: 30%;
  z-index: 5;
}
.phone[data-v-0f3c30c7] {
  top: 150px;
  left: 55%;
  z-index: 5;
}
.pulse_img[data-v-0f3c30c7] {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pulse[data-v-0f3c30c7] {
  position: relative;
  width: 30px;
  height: 30px;
  background: #FF532D;
  border-radius: 50%;
}
.pulse[data-v-0f3c30c7]::before,
.pulse[data-v-0f3c30c7]::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ff2f00b9;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.7;
}
.pulse[data-v-0f3c30c7]::before {
  animation: pulse-0f3c30c7 2s ease-out infinite;
}
.pulse[data-v-0f3c30c7]::after {
  animation: pulse-0f3c30c7 2s 1s ease-out infinite;
}
@keyframes pulse-0f3c30c7 {
100% {
    transform: scale(2.5);
    opacity: 0;
}
}
.email h1[data-v-0f3c30c7] {
  color: #fff;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.36px;
}
.bg_black[data-v-0f3c30c7]::after {
  content: '';
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
}
.swiper-slide[data-v-0f3c30c7] {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-slide img[data-v-0f3c30c7] {
  width: 100%;
  height: 100vh;
}
.swiper-slide[data-v-0f3c30c7]::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.404); /* Adjust the opacity as needed */
  z-index: 1;
}


/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!./node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/templates/assets/js/components/RepairService.vue?vue&type=style&index=0&id=1b2b9010&scoped=true&lang=css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.repair[data-v-1b2b9010] {
  padding: 60px;
}
.subcription[data-v-1b2b9010] {
  gap: 10px;
  margin-bottom: 20px;
}
.test-head-text h5[data-v-1b2b9010] {
  color: #F23C13;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.setteing-icon[data-v-1b2b9010] {
  animation: set-1b2b9010 3s ease-in-out infinite;
}
@keyframes set-1b2b9010 {
0% {
    transform: scale(1);
}
50% {
    transform: scale(1.2);
    transition: 2s;
}
100% {
    transform: scale(1);
}
}
.hour-header h1[data-v-1b2b9010] {
  color: #1E1E1E;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  /* 76.8px */
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
.hour-header[data-v-1b2b9010] {
  padding: 80px 80px 0;
  margin-bottom: 60px;
}
.repair-header[data-v-1b2b9010] {
  margin-bottom: 60px;
}
.repair-button-box[data-v-1b2b9010] {
  width: 100%;
  margin: 35px auto;
  position: relative;
}
.toggle-btn[data-v-1b2b9010] {
  border: none;
  background: transparent;
  position: relative;
  cursor: pointer;
  outline: none;

  /* border-bottom: 2px solid #F23C13; */
}
#btn_line[data-v-1b2b9010] {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #F23C13, #F23C13);
  transition: 0.5s;
}
.service-item[data-v-1b2b9010] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 40px 0px;
  border-radius: 16px;
  border: 1px solid var(--Border, #E7EAF3);
  background: #FFF;
  width: 200px;
  box-shadow: 0 0 20px rgba(228, 222, 222, 0.637);
}
.nav-fill[data-v-1b2b9010] {
  margin-bottom: 40px !important;
}
.nav-link[data-v-1b2b9010]:focus,
.nav-link[data-v-1b2b9010]:hover {
  color: #F23C13 !important;
}
.date-btn[data-v-1b2b9010] {
  color: #F23C13;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  /* 44.8px */
  font-variant: all-small-caps;
  letter-spacing: 0.5px;
}
.nav-one.active[data-v-1b2b9010],
.nav-two.active[data-v-1b2b9010] {
  border-bottom: 2px solid #F23C13;
}
.anytime[data-v-1b2b9010] {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease-out;
}
.anytime.visible[data-v-1b2b9010] {
  opacity: 1;
  transform: none;
}

